/* -----menu------ */

.flex-container > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.dropdown-btn {
    width: 100%;
    max-width: 700px;
    color: var(--yellow);
    background: var(--darkGray);
    margin: 7px 0px;
    padding: 5px 15px;
    font-size: 15px;
    display: block;
    border: none;
    border-radius: 5px;
    text-align: left;
}
.fa-solid {
    float: right;
    padding-right: 8px;
    visibility: visible;
}
.active {
    background-color: var(--yellow);
    color: var(--darkGray);
    font-weight: bolder;
}
.dropdown-container {
    display: none;
    font-size: 14px;
    margin: 0px 2px;
}
.item{
    padding: 5px 15px;
    background-color: var(--black);
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.name{
    color: var(--orange);
    max-width: 320px;
}
strong{
    color: var(--white);
}
.price{
    color: var(--yellow);
}