*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(15, 17, 88);
    color: ivory;
    padding: 7px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}
.sep{
    background-color: dimgray;
    width: 100vw;
    height: 4px;
}
main{
    display: flex;
    width: 100vw;
    background-color: red;
}
.sidebar{
    width: 180px;
    background-color: rgb(15, 17, 88);
    height: 90vh;
    font-size: 18px;
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
    text-align: center;
}
.sidebar div{
    padding: 5px 0px;
    width: 100%;
}
.sidebar div:hover{
    background-color: aliceblue;
    color: rgb(15, 17, 88);
}
.size{
    width: 30px;
    text-align: center;
    padding: 0px 7px;
    font-size: 18px;
}
#colorSel{
    border-radius: 10px;
}
.eraser, .gridView{
    color: yellow;
}
.sidebar p{
    padding: 5px;
}
.sidebar > p > span{
    color: aliceblue;
}
.work-area{
    display: flex;
    justify-content: center;
    align-items: center ;
    background: #000;
    margin: auto;
}
.container{
    display: flex;
    background: rgb(255, 0, 0);
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}
.container div{
    background: aliceblue;
    box-shadow: inset 0 0 1px;
    width: calc(600px / 3);
    height: calc(600px / 3);
}
.keyDisplay{
    background-color: rgba(15, 17, 88, 0.298);
    color: whitesmoke;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2px;
    text-shadow: 0 0 2px black;
    border-radius: 20px;
    visibility: hidden;
    position: fixed;
    inset: 0px;
    margin: auto;
}
footer{
    text-align: center;
    background-color: dimgray;
    padding: 10px;
    color: whitesmoke;
}
a{
    text-decoration: none;
}
